.swipe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .swipe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }